//
//  Dev.xcconfig
//  CIDemo
//
//  Created by Ahmed on 18/05/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

TDRA_HOST = tdra.gov.ae.pro
PRODUCT_NAME = CI Dev
BUNDLE_IDENTIFIER = biz.enon.uaetra.DEV
