### macOS
# Finder metadata
.DS_Store

# Thumbnails
._*

# Custom folder icons
Icon

# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
Gemfile.lock
.build
CIDemo.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
fastlane/README.md
fastlane/report.xml
fastlane/test_output
fastlane/test_output
